<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>-->
      <!--Welcome {{fullname}}-->
    <!--</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-router-outlet  id="content" ></ion-router-outlet>

<ion-content padding>
    <a routerLink="/books">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Books</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     <img src="assets/books.jpg">
    </ion-card-content>
  </ion-card>
    </a>
    <a routerLink="/magazines">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Magazine</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <img src="assets/magazine.jpg">
    </ion-card-content>
  </ion-card>
    </a>
    <ion-card>
        <ion-card-header>

            <ion-card-title>News Papers</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <img src="assets/newspaper.jpg">
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>

            <ion-card-title>Articles</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <img src="assets/articles.jpg">
        </ion-card-content>
    </ion-card>

</ion-content>