<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>

          <ion-item>
            <ion-input placeholder="Book by Name, Author, Year, Rare, Public"  [(ngModel)]="keyWord" ></ion-input>
          </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-col>
    <ion-button expand="block" (click)="getBookbyKeyWord()">Search</ion-button>
  </ion-col>

  <h3 *ngIf="msg">Sorry, Book Not Found</h3>
  <div  *ngFor="let book of books" >
    <ion-item href="#">
      <ion-thumbnail slot="start">
        <img src="assets/books.jpg">
      </ion-thumbnail>
      <ion-label>
        Book Name : <b>{{book.title}}</b><br>
        Author : <b>{{book.author}}</b><br>
        Category :<b>{{book.bookCatagory}}</b>
      </ion-label>

    </ion-item>



  </div>




</ion-content>