<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-item>
          <ion-input placeholder="Magazine by Name, Author, Year, Rare, Public"  [(ngModel)]="keyWord" ></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-col>
    <ion-button expand="block" (click)="getMagazinebyKeyWord()">Search</ion-button>
  </ion-col>

  <h3 *ngIf="msg">Sorry, Magazine Not Found</h3>
  <div  *ngFor="let magazine of magazines" >
    <ion-item href="#">
      <ion-thumbnail slot="start">
        <img src="assets/magazine.jpg">
      </ion-thumbnail>
      <ion-label>
        Title : <b>{{magazine.title}}</b><br>
        Author : <b>{{magazine.author}}</b><br>
        Category :<b>{{magazine.bookCatagory}}</b>
      </ion-label>
    </ion-item>
  </div>




</ion-content>