<ion-content padding style="text-align: center">

  <h3>{{itemCategory}}</h3>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src={{imgSrc}}>
    </ion-card-content>


    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-item>
            Item Code : &nbsp;<b> {{itemCode}}</b>
          </ion-item>

        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>

          <ion-item>
            Book Titile : &nbsp; <b> {{title}}</b>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>

          <ion-item>
            Author : &nbsp; <b> {{author}}</b>
          </ion-item>
        </ion-col>

      </ion-row>


      <ion-row>
        <ion-col>

          <ion-item>
            Publisher: &nbsp; <b> {{publisher}}</b>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>

          <ion-item>
            Year: &nbsp; <b> {{year}}</b>
          </ion-item>
        </ion-col>

      </ion-row>


      <ion-row>
        <ion-col>

          <ion-item>
            ISBN: &nbsp; <b> {{isbn}}</b>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>

          <ion-item>
            Price: &nbsp; <b> Rs {{price}}</b>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>

          <ion-item>
            Category: &nbsp; <b> {{bookCatagory}}</b>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-card>



</ion-content>
